* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#root {
    background-color: #1E2D3B;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #424c55; 
}

header select {
    border: none;
    padding: 10px;
    color: white;
    background-color: #1E2D3B;
}

.container {
    width: 60%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px 0;
}

.disco {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 5 - 20px);
    margin: 10px;
    padding: 20px 20px 0 20px;
    color: white;
    background-color: #424c55;
}

.disco * {
    margin-bottom: 10px;
}

.disco img {
    width: 100%;
}